@import "variable";

.form-control:focus {
  box-shadow: none;
  border-color: $primary;
}

.form-select:focus {
  box-shadow: none;
  border-color: $primary;

}

.form-check-input:checked {
  background-color: $primary;
  border: 0 !important;
}

.form-check-input:focus {
  border: 0 !important;
}

.form-check-input:focus {
  box-shadow: 0 0 0 3px rgba(245, 181, 18, 0.478);
}

.advance-search {
  .form-select:focus {
    box-shadow: none;
    border-color: $primary;
    border: 0;

  }

  .form-select {
    border: 0;
  }

  span {
    border: 0;
  }
}