* {
  margin: 0;
  padding: 0;
}

/* color */
.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ff385c;
  --bs-btn-border-color: #ff385c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ff4d6d;
  --bs-btn-hover-border-color: #ff1a44;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ff6682;
  --bs-btn-active-border-color: #ff1a44;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ff385c;
  --bs-btn-disabled-border-color: #ff385c;
}

/* construction baner start*/
.construction {
  background: rgba(0, 0, 0, 0) url("assets/img/slider2.jpg") repeat scroll
    0 0 / cover;
  height: 70vh;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.construction::after {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center center;
  background-size: auto auto;
  margin-left: 0;
  margin-right: 0;
}

/* construction baner end*/

.consultation {
  background: rgba(0, 0, 0, 0)
    url("assets/img/slider1.jpg")
    repeat scroll 0 0 / cover;
  height: 100%;
  background-attachment: fixed;
}

/* page banner */

.page-banner {
  background: rgba(0, 0, 0, 0) url("assets/img/modern-business-center.jpg")
    repeat scroll 0 0 / cover;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-banner::after {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* media query */

/* tab area only  */
@media (min-width: 768px) and (max-width: 991.98px) {
  .about-us .profile img {
    height: 100px;
    width: 130px;
  }
}

/*only mobile area */
@media (max-width: 768px) {
  .about-us .profile img {
    height: 100px;
    width: 130px;
  }
}

/* desktop area only */
@media (min-width: 992px) {
  /* header li {
    float: left;
    background: url(assets/img/bgr-menu-selector.png) no-repeat 100% 50%;
    padding-right: 11px;
    margin-right: 10px;
  }
  header li:last-child {
    background: none;
    padding-right: 0;
    margin-right: 0;
  } */
  .about-us .w-100 {
    height: 280px;
    object-fit: cover;
  }
}



